* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    height: 80px;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    padding: 3rem;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    height: 1rem;
    margin-left: 1rem;
}

.link {
    display: flex;
    margin-left: 2rem;
    list-style: none;
}

.link li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .4rem;
    position: relative;
    user-select: none;
    margin: 20px;
    color: hsl(0, 0%, 41%);
    transition: color 0.3s ease;
    font-size: 1.3rem;
} 

.link li:hover {
    color: black;
}

.menu-btn {
    display: none;
}

.menu {
    display: none;
}

.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.features {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(66, 65, 65, 0.628);
    padding: 1rem;
    border-radius: 10px;
    bottom: -158px;
    right: 2px;
}

.company {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(66, 65, 65, 0.628);
    padding: 1rem ;
    border-radius: 10px;
    bottom: -130px;
    left: -5px;
}

.sub-link {
    display: flex;
    align-items: center;
    width: 90px;
    font-size: 15px;
    margin: 5px;
    color: hsl(0, 0%, 41%);
}

.sub-link img {
    margin-right: 6px; 
}

.sub-link:hover {
    color: #000000;
    font-weight: 550;
}

.sub-links {
    display: flex;
    align-items: center;
    width: 75px;
    font-size: 15px;
    margin: 5px;
    color: hsl(0, 0%, 41%);
}

.sub-links:hover {
    color: #000000;
    font-weight: 550;
}

.login-btn {
    padding: 1rem 2.5rem;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 1rem;
    color: hsl(0, 0%, 41%);
}

.login-btn:hover {
    color: black;
}

.register-btn {
    padding: 1rem 2.5rem;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    color: hsl(0, 0%, 41%);
    border-color: hsl(0, 0%, 41%);
}

.register-btn:hover {
    color: black;
    border-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 11rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-heading {
    font-size: 5rem;
}

.main-content {
    margin-top: 2rem;
    color: hsl(0, 0%, 41%);
    font-size: 1.3rem;
}

.learn-more-btn {
    padding: 1rem 2.3rem;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0;
    margin-top: 3rem;
}

.learn-more-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;;
}

.client-logo {
    margin-top: 5rem;
    letter-spacing: 1rem;
}

.main-right {
    width: 65%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}
